.img {
    width: 100%;
    margin-bottom: 18%;
  }
.card-picture {
width: 23%;
margin-bottom: 2%;
}
.container {
min-height: 100%;
width: 100%;
}
.search-form {
width: 90%;
}

.box-title {
  margin: 0 auto;
  width: 20%;
  border-radius: 3px;
  border: 1px solid #6C84FA;
  background-color: #D6D9FF;
}

.section-title {
  background: #f5f5f5;
  padding: 5px;
  margin: 5px 0;
  font-size: 1.5em;
  text-align: center;
}

h4 {
  text-align: center;
  padding: 0;
  margin: 0;
}

.mat-grid-tile {
  margin-top: 1%;
}