.example-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .example-full-width {
    width: 50%;
  }

.check{
  float: left;
}

.opcion{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.button-container{
  margin-top: 30px;
}